@import 'src/styles/variables.module';
@import 'src/styles/mixins.module';

.container {
  @include grid(100.8rem, '');

  .box {
    background-color: #fff;
    grid-column: 6/9;
    border-radius: 0.8rem;
    @include flex('', '', column);
    padding: 2.5rem 3.3rem 3rem 3.3rem;
    h2,h3{
      color:$primary-title;
      text-align: center;
    }
    h2 {
      margin-bottom:3.2rem;
    }
  }
}
